name: CI/CD Node

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

jobs:
  build-and-test:
    uses: HiagoScierry/simple-workflow-nodejs-boilerplate/.github/workflows/nodejs-reusable.yml@main
    with:
      run_lint: true
      run_test: true