name: Build and Publish Docker Image

on:
  push:
    tags:
      - 'v*.*.*'
  workflow_dispatch:


jobs:
  build-and-test:
    uses: ./nodejs-reusable.yml@main
    with:
      run_lint: true
      run_test: true
      run_build: true


  publish-docker:
    needs: build-and-test
    if: github.event_name == 'push' || github.event_name == 'workflow_dispatch'
    uses: HiagoScierry/simple-workflow-nodejs-boilerplate/.github/workflows/docker-publish.yml@main
    with:
      image-name: >-
        ${{ 
          github.event_name == 'workflow_dispatch' 
        && format('{0}:latest', github.repository) 
        || format('{0}:{1}', github.repository, github.ref_name) 
        }}
      build-context: .
    secrets:
      dockerhub-username: ${{ secrets.DOCKERHUB_USERNAME }}
      dockerhub-password: ${{ secrets.DOCKERHUB_PASSWORD }}
